{:pods {clj-kondo/clj-kondo {:version "2022.02.09"}}
 :paths ["src"]
 :tasks {quickdoc {:requires ([quickdoc.api :as api])
                   :task (api/quickdoc {:git/branch "main"
                                        :github/repo "https://github.com/borkdude/quickdoc"
                                        :collapse-nss false})}}}

