{:paths ["src"]
 :tasks {quickdoc {:requires ([quickdoc.api :as api])
                   :task (api/quickdoc {:git/branch "main"
                                        :github/repo "https://github.com/borkdude/quickdoc"
                                        :toc true})}
         test {:requires ([quickdoc.api :as api])
               :task (api/quickdoc {:git/branch "main"
                                    :source-uri "https://dev.azure.com/company/_git/project?path={filename}&version=GBmain&_a=contents&line={row}&lineEnd={end-row}&lineStartColumn={col}&lineEndColumn={end-col}&lineStyle=plain"
                                    :toc true
                                    :outfile "API.md"})}}}
