{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-kondo/clj-kondo {:mvn/version "2025.04.07"}
        org.babashka/cli {:mvn/version "0.8.65"}}
 :tools/usage {:ns-default quickdoc.api}}
